*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham HTF Book";
  font-size: 14px;
  line-height: 1;
  color: #000000;
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1230px;
  }
}

/* banner */
.banner {
  position: relative;
}

.banner__title {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  font-family: "Gotham HTF";
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

/* menu */
.menu > ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

.menu > ul > li {
  margin-bottom: 36px;
}

.menu > ul > li > a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.menu > ul > li > a:hover {
  font-weight: bold;
}

/* post */
.post {
  display: flex;
}

.post__item {
  position: relative;
  max-width: 50%;
  flex: 0 0 50%;
}

.post__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham HTF";
  font-size: 50px;
  text-align: center;
}

.post__title span {
  font-size: 30px;
  display: block;
  margin-top: 3px;
}

/* tag */
.tag {
  text-align: center;
}
.tag .tag__content {
  text-transform: uppercase;
  color: #000000;
  padding: 20px 0;
  font-size: 18px;
}

/* gallery */
.gallery {
  display: flex;
}

.gallery .gallery__item {
  max-width: 20%;
  flex: 0 0 20%;
}

/* contact */
.contact {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

/* .contact__item {
  max-width: 50%;
  flex: 0 0 50%;
} */
.contact__title {
  font-size: 18px;
  font-family: "Gotham HTF";
  text-transform: uppercase;
  margin-bottom: 12px;
}

/* form-search */
.form-search .input-group {
  display: flex;
  align-items: center;
}

.form-search .input-group .form-control {
  width: 486px;
  height: 48px;
  border: 1px solid #000000;
}

.form-search .input-group button {
  background-color: #000000;
  padding: 0 18px;
  margin-left: 5px;
  height: 48px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham HTF";
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

/* social */
.social {
  margin-top: 30px;
}

.social > ul {
  display: flex;
}

.social > ul > li {
  margin-right: 30px;
}

.social > ul > li > a {
  display: block;
}

.social > ul > li > a img {
  width: 28px;
  height: 28px;
}

/* customer-care */
.customer-care > ul > li {
  margin-bottom: 10px;
}

.customer-care > ul > li > a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
.customer-care > ul > li > a:hover {
  font-weight: bold;
}

/* footer */
.footer {
  padding-top: 40px;
  padding-bottom: 50px;
}

.about-us > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us > ul > li {
  padding: 0 10px;
  border-right: 1px solid;
}

.about-us > ul > li:last-child {
  border: none;
}

.about-us > ul > li > a {
  text-decoration: none;
  color: #000;
  font-size: 11px;
  transition: all 0.2s;
}

.about-us > ul > li > a:hover {
  font-weight: bold;
}

.mt-20 {
  margin-top: 20px;
}

/* menu-mobile */
.burger > img {
  width: 30px;
  height: 30px;
  display: none;
}

.menu-mobile {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  z-index: 10;
  transform: translateX(-100%);
  transition: all 0.4s;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu-mobile > ul {
  padding: 20px;
}
.menu-mobile > ul > li {
  padding: 5px;
  padding-bottom: 20px;
}
.menu-mobile > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
}
.menu-mobile-actives {
  transform: translate(0);
}
.close-menu {
  display: flex;
  justify-content: flex-end;
}
.close-menu img {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 10px;
}
/* responsive */
@media (max-width: 1200px) {
  .banner__title {
    font-size: 48px;
  }
  .post__title {
    font-size: 32px;
  }
  .post__title span {
    font-size: 28px;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .banner__title {
    font-size: 32px;
  }
  .menu > ul > li {
    font-size: 10px;
    margin-bottom: 25px;
  }
  .menu > ul > li > a {
    font-size: 10px;
  }
  .post__title {
    font-size: 20px;
  }
  .post__title span {
    font-size: 18px;
  }
  .tag .tag__content {
    font-size: 14px;
  }
  .contact__title {
    font-size: 15px;
  }
  .form-search .input-group .form-control {
    width: 300px;
    height: 40px;
  }
  .form-search .input-group button {
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .banner__title {
    font-size: 20px;
  }
  .menu {
    display: none;
  }
  .post__title {
    font-size: 16px;
  }
  .post__title span {
    font-size: 14px;
  }
  .tag .tag__content {
    font-size: 12px;
  }
  .form-search .input-group .form-control {
    width: 250px;
    height: 32px;
  }
  .form-search .input-group button {
    height: 32px;
    padding: 0 12px;
    font-size: 12px;
  }
  .customer-care > ul > li > a {
    font-size: 12px;
  }
  .social > ul > li {
    margin-right: 15px;
  }
  .social > ul > li > a img {
    width: 20px;
    height: 20px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .burger img {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

/* 480px */
@media (max-width: 480px) {
  .banner__title {
    font-size: 16px;
  }
  .post__title {
    font-size: 14px;
  }
  .post__title span {
    font-size: 12px;
  }
  .tag .tag__content {
    font-size: 8px;
    padding: 12px 0;
  }
  .social {
    margin-top: 15px;
  }
  .contact {
    flex-direction: column;
    padding: 15px 0;
  }
  .contact__item {
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 20px;
  }
  .contact__title {
    font-size: 12px;
  }
  .about-us > ul {
    flex-direction: column;
  }
  .about-us > ul > li > a {
    white-space: nowrap;
  }
  .about-us > ul > li {
    border: none;
    padding-bottom: 10px;
  }
  .form-search .input-group .form-control {
    width: 100%;
  }
  .burger > img {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
  .menu-mobile {
    width: 200px;
  }
  .menu-mobile > ul > li > a {
    font-size: 14px;
  }
}

/* 320px */
@media (max-width: 320px) {
  .banner__title {
    font-size: 12px;
  }
}
